body {
    background-color: bisque;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    border-radius: 60px;
    border: 10px ridge;
}

#novidades-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 85px;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    background: #161a2d;
    padding: 25px 20px;
    transition: all 0.4s ease;
}

.hov:hover {
    cursor: url(/Rock\ Emoji.png), pointer;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 20px;
        min-height: 100vh;
    }
}

header {
    text-align: center;
}

html {
    line-height: 1.225;
}

form {
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 700;
    font-size: large;
    color:violet;
    text-align: center;
}

h4 {
    text-align: center;
}

br {
    color: white;
}

div {
    background-color: brown;
}

.rodape {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    clear: both;
    padding: 15px;
}